@import "btnConfig";
@import "utilities";
@import "config";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.hero {
  //import background color from utilities
  @include set-bg($primary-color);
  height: 600px;
  //style navbar
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //style unordered list in navbar
    ul {
      display: flex;
      list-style-type: none;
    }
    //style list items nav
    li {
      padding: 15px;
    }
    // style linked items in nav to have color based on background
    a {
      color: text-color-picker($primary-color);
    }
    //style linked items in navbar when hovering over
    a:hover {
      color: $secondary-color;
    }
  }

  //style the contents of whatever is wrapped by hero
  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
}

// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
